@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: darkred;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}


.logo {
    font-size: 22px;
    font-weight: bold;
    color: white;
    font-family: "sans-serif";
}

.container {
    height: 100vh;

}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #FFFDE1;
    font-size: 16px;
    transition: 0.5s;
    font-weight: bold;
    font-family: "sans-serif";
}

.nav-links li a:hover {
    color: #16476A;
    border-bottom: 2px solid darkgreen;
    font-weight: bold;
    font-family: "sans-serif";
}


.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}


.contact-btn {
    padding: 8px 18px;
    background-color: white;
    border: none;
    border-radius: 25px;
    color: darkred;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-btn:hover {
    transform: scale(1.05);
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    color: white;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: white;
    margin: 4px 0;
    border-radius: 2px;
    color: white;
}


@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 65px;
        left: 0px;
        width: 100%;
        display: flex;
        color: white;
        background-color: darkgrey;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 30px;
        padding-right: 40px;
        display: none;
        padding-top: 20px;
    }

    .nav-links.active {
        display: flex;
        justify-content: flex-end;
        color: darkred;
    }

    .nav-links li a {
        text-decoration: none;
        color: darkred;
        font-size: 16px;
        transition: 0.5s;
        font-weight: bold;
        font-family: "sans-serif";
    }

    .nav-links li a:hover {
        color: #16476A;
        border-bottom: 2px solid darkgreen;
        font-weight: bold;
        font-family: "sans-serif";
    }


    .contact-btn {
        display: none;
    }

    .hamburger {
        display: flex;
        justify-content: flex-end;
        color: white;
    }
}

body {
    background: #FFFDE1;
    color: #ffffff;
}


.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;

    line-height: 1.0;
}


.home-container {
    height: 100vh;
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 5fr;
    align-items: center;
    gap: 40px;
}


.home-content h3 {
    font-size: 30px;
    color: #1E93AB;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: "sans-serif";
}

.home-content h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #432323;
    font-family: 'Courier New';
}

.home-content h2 {
    font-size: 28px;
    font-weight: 500;
    color: #432323;
    font-weight: bold;
    font-family: "sans-serif";
    margin-bottom: 20px;
}

.home-content p {
    font-size: 20px;
    line-height: 2.1;
    color: #1E93AB;
    font-weight: bold;
    font-family: "roboto";
    margin-bottom: 30px;
    max-width: 500px;
}

.home-buttons {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 12px 26px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
}

.btn.primary {
    background: darkred;
    color: #fff;
}

.btn.secondary {
    border: 2px solid darkred;
    color: darkred;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(56, 189, 248, 0.3);
}


.home-image {
    display: flex;
    justify-content: center;
}

.home-image img {
    width: 350px;
    max-width: 100%;
    border-radius: 20px;
    background: linear-gradient(135deg, #38bdf8, darkred);
    padding: 6px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
}


@media (max-width: 900px) {
    .home-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .home-content p {
        margin: 0 auto 30px;
    }

    .home-buttons {
        justify-content: center;
    }

    .home-image {
        margin-top: 30px;
    }

    .home {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px 20px;
        margin-top: -40px;
        line-height: 1.0;
    }
}

@media (max-width: 480px) {
    .home-content h1 {
        font-size: 36px;
    }

    .home {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px 20px;
        margin-top: -40px;
        line-height: 1.0;
    }

    .home-content h2 {
        font-size: 22px;
    }
}

.image-icon {
    height: 55px;
    width: 105px;
    padding-right: 50px;
    margin-bottom: 10px;

}

.image-icon2 {
    height: 45px;
    width: 100px;
    padding-right: 50px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-top: 5px;
    border-radius: 20%;
}

.image-icon3 {
    height: 50px;
    margin-top: 2px;
    width: 46px;
    margin-left: 3px;

}

.cardimage {
    height: 54px;
    box-sizing: content-box;
    width: 55px;
    border-color: darkred;
    border-radius: 50%;
    border-style: solid;
    margin-left: 40px;


}

.cardimage:hover {
    border-color: goldenrod;
    cursor: pointer;
    transition: 1.3sec;
    border: shadow 200px;
    box-shadow: 0 20px 50px darkred;

}

.imagecardssection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    margin-top: -40px;
    margin-bottom: 50px;
}

/* Scroll Down Arrow Container */
.scroll-down {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -150px;
}

/* Arrow Shape */
.scroll-down span {
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 3px solid darkred;
    border-right: 3px solid darkred;
    transform: rotate(45deg);
    margin-top: 5px;
    animation: blinkBounce 1.8s infinite;
    box-shadow:
        0 0 10px darkred,
        0 0 20px darkred,
        0 0 30px darkred;
}

/* Animation */
@keyframes blinkBounce {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}

/* ABOUT SECTION */
.about-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px;
    background-color: #000957;
    height: 100vh;
}

.about-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 40px;
}

/* HEADINGS */
.section-number {
    color: #38bdf8;
    font-weight: 600;
    margin-bottom: 5px;
}

.section-title {
    font-size: 36px;
    margin-bottom: 25px;
}

/* GLASS CARD */
.glass {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 18px;
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    transition: 0.4s;
}

.glass:hover {
    box-shadow: 0 0 40px rgba(56, 189, 248, 0.2);
    transform: translateY(-4px);
}

/* TYPING CURSOR */
.typing-text {
    position: relative;
    line-height: 1.7;
    margin-bottom: 15px;
}


.highlight {
    color: #38bdf8;
    font-weight: 600;
}

.about-card p {
    color: #cbd5f5;
    margin-bottom: 14px;
}

/* STATS */
.about-stats {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.stat {
    flex: 1;
    text-align: center;
}

.stat h3 {
    font-size: 32px;
    color: darkred;
    margin-bottom: 6px;
}

.stat p {
    font-size: 14px;
    color: #94a3b8;
}

/* FEATURES */
.about-features {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature span {
    font-size: 26px;
}

.feature h4 {
    margin: 10px 0 5px;
}

.feature p {
    color: #94a3b8;
    font-size: 14px;
}

.cyan:hover {
    box-shadow: 0 0 35px rgba(56, 189, 248, 0.4);
}

.purple:hover {
    box-shadow: 0 0 35px rgba(168, 85, 247, 0.4);
}

.yellow:hover {
    box-shadow: 0 0 35px rgba(234, 179, 8, 0.4);
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .about-container {
        grid-template-columns: 1fr;
    }

    .about-stats {
        flex-direction: column;
    }

    .section-title {
        font-size: 30px;
    }

    .about-section {
        padding: 100px 20px;
        background-color: #000957;
        height: 100%;
        margin-top: 50px;
    }
}

@media (max-width: 480px) {
    .about-section {
        padding: 100px 20px;
        background-color: #000957;
        height: 100%;
        margin-top: 50px;
    }

}

.skills-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 90px 20px;
    background-color: #A6FF96;
    height: 100vh;
}

.skills-container {
    max-width: 1200px;
    margin: auto;
}

/* HEADER */
.skills-label {
    color: #d97706;
    letter-spacing: 2px;
    font-size: 13px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.skills-title {
    font-size: 42px;
    margin-bottom: 40px;
}

.skills-title span {
    color: #d97706;
}

/* GRID */
.skills-grid {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 40px;
    align-items: start;
}

/* LEFT SIDE */
.tech-title {
    font-size: 22px;
    margin-bottom: 25px;
}

.skill {
    margin-bottom: 25px;
}

.skill-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 15px;
    color: goldenrod;
}

.progress {
    background: white;
    height: 8px;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, #d97706, darkred);
    border-radius: 10px;
    transition: width 1.4s ease;
}

/* RIGHT SIDE CARDS */
.services {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service-card {
    background: rgb(108, 227, 178);
    border-radius: 18px;
    padding: 22px;
    display: flex;
    gap: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    transition: 0.4s;
}

.service-card:hover {
    transform: translateY(-6px);
}

.icon {
    font-size: 22px;
    color: #d97706;
    min-width: 40px;
}

.service-card h4 {
    margin-bottom: 5px;
    font-size: 17px;
}

.service-card p {
    font-size: 14px;
    color: #6b7280;
    line-height: 1.6;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .skills-grid {
        grid-template-columns: 1fr;
    }

    .skills-title {
        font-size: 34px;
        height: 100%;
        margin-top: 50px;
    }

    .skills-section {
        padding: 90px 20px;
        background-color: #A6FF96;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media (max-width: 480px) {
    .skills-title {
        font-size: 28px;
    }

    .skills-section {
        padding: 90px 20px;
        background-color: #A6FF96;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.projects-section {
    padding: 100px 20px;
    background: radial-gradient(circle at top, #020617, #000);
    color: #e5e7eb;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;

}

.projects-container {
    max-width: 1200px;
    margin: auto;
}

/* TITLE */
.section-number {
    color: #38bdf8;
    margin-bottom: 10px;
}

.section-title {
    font-size: 32px;
    margin-bottom: 60px;
}

/* PROJECT */
.project {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 40px;
    margin-bottom: 120px;
    align-items: center;
}

.project.reverse {
    grid-template-columns: 1fr 1.3fr;
}

.project-image {
    position: relative;
    border-radius: 20px;
    height: 320px;
    background-image: url("https://res.cloudinary.com/dpkuxu8mr/image/upload/v1770828684/istockphoto-2180053464-612x612_ool2zs.webp");
    overflow: hidden;
    box-shadow: 0 0 60px rgba(56, 189, 248, 0.15);
    background-size: cover;
}

.project-image2 {
    position: relative;
    border-radius: 20px;
    height: 320px;
    background-image: url("https://res.cloudinary.com/dpkuxu8mr/image/upload/v1770542330/Unknown-2_qggnr6.jpg");
    overflow: hidden;
    box-shadow: 0 0 60px rgba(56, 189, 248, 0.15);
    background-size: cover;
}

.hide-anchor {
    list-style: none;
    text-decoration: none;
}

.project-image3 {
    position: relative;
    border-radius: 20px;
    height: 320px;
    background-image: url("https://res.cloudinary.com/dpkuxu8mr/image/upload/v1770542529/Unknown-3_fpxocm.jpg");
    overflow: hidden;
    box-shadow: 0 0 60px rgba(56, 189, 248, 0.15);
    background-size: cover;
}

.project-image4 {
    position: relative;
    border-radius: 20px;
    height: 320px;
    background-image: url("https://res.cloudinary.com/dpkuxu8mr/image/upload/v1770542885/ef7ecdbd-2bdb-4a36-bb05-dcadcfd7ef34-cover_uvf2kx.png");
    overflow: hidden;
    box-shadow: 0 0 60px rgba(56, 189, 248, 0.15);
    background-size: cover;
}

.project-image::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(120deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.6));
}

.project-badge {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #22d3ee;
    color: #020617;
    font-size: 12px;
    padding: 6px 14px;
    border-radius: 20px;
    z-index: 2;
}

/* CONTENT */
.project-content {
    position: relative;
}

.project-label {
    color: #38bdf8;
    font-size: 13px;
    letter-spacing: 1px;
}

.project-title {
    font-size: 28px;
    margin: 12px 0;
    text-decoration: none;
}

.project-desc {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 14px;
    line-height: 1.6;
    border: 1px solid rgba(255, 255, 255, 0.08);
    margin-bottom: 18px;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 18px;
}

.tech {
    background: rgba(56, 189, 248, 0.12);
    color: #38bdf8;
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 12px;
}

/* ICONS */
.project-links {
    display: flex;
    gap: 16px;
}

.project-links a {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: #38bdf8;
    text-decoration: none;
    transition: 0.3s;
}

.project-links a:hover {
    background: #38bdf8;
    color: #020617;
}

/* RESPONSIVE */
@media (max-width: 900px) {

    .project,
    .project.reverse {
        grid-template-columns: 1fr;
    }

    .project-image {
        height: 260px;
    }
}

@media (max-width: 480px) {
    .section-title {
        font-size: 26px;
    }

    .project-title {
        font-size: 22px;
    }
}

.imagee-icon {
    height: 34px;
    width: 34px;
}